<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://dubbo.apache.org/schema/dubbo
    http://dubbo.apache.org/schema/dubbo/dubbo.xsd">
<!--    步骤3-->
    <!--dubbo应用配置-->
    <dubbo:application name="${spring.application.name}">
        <dubbo:parameter key="qos.enable" value="false"/>
    </dubbo:application>
    <!--注册中心-->
    <dubbo:registry id="nacos" protocol="nacos" address="localhost:8848"
        use-as-metadata-center="false" use-as-config-center="false"/>
    <!--通信协议-->
    <dubbo:protocol name="dubbo" port="-1"/>
    <!--consumer角色 reference 底层是个代理对象 注入使用-->
    <!--check = false 表示消费者启动时候会不会检查抓取的provider存在还是不存在-->
    <dubbo:reference id="dubboTestApi" interface="luban.demo.cart.api.DubboTestApi"
         registry="nacos" check="false"/>


    <dubbo:reference id="consumerCartApi" interface="luban.demo.cart.api.CartApi"
                     registry="nacos" check="false"/>

    <dubbo:reference id="consumerStockApi" interface="luban.demo.stock.api.StockApi"
                     registry="nacos" check="false"/>


</beans>